name: Deploy Docker Website to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            set -e
            mkdir -p ~/website
            cd ~/website

            if [ -d ".git" ]; then
              git pull
            else
              git clone https://github.com/${GITHUB_REPOSITORY} .
            fi

            docker build -t my-html-site .
            docker stop my-html-site || true
            docker rm my-html-site || true
            docker run -d -p 55000:80 --name my-html-site my-html-site
          EOF
