name: Deploy S3 Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload website to S3
        run: |
          aws s3 sync . s3://nazneen-terraform-bucket-123 \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --exclude ".terraform/*" \
            --exclude "*.tf" \
            --exclude "*.tfstate*"
